<%- include('includes/head.ejs') %>
  <body>
    <%- include('includes/navigation.ejs') %>
    <main>
      <h1>Add User</h1>
      <form class="form" action="new" method="POST">
        <div class="form-control">
          <label for="firstname">Firstname: </label>
          <input type="text" name="firstname" id="firstname" placeholder="Your firstname..." required>
          <label for="lastname">Lastname: </label>
          <input type="text" name="lastname" id="lastname" placeholder="Your lastname..." required>
          <label for="email">Email: </label>
          <input type="email" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Your email..." required>
          <label for="password">Password: </label>
          <input type="password" name="password" id="password" required>
        </div>
        <button class="btn" type="submit">Add user</button>
      </form>
    </main>
<%- include('includes/end.ejs') %>
